@import "../gobal.scss";

.intro {
	background-color: white;
	display: flex;
	align-items: center;
	overflow: hidden;

	@include mobile {
		flex-direction: column;
	}

	.left {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		color: $main-color;

		h1 {
			font-size: 50px;

			@include mobile {
				font-size: 35px;
			}

			@include mid {
				font-size: 40px;
			}
		}

		h2 {
			font-size: 40px;

			@include mobile {
				font-size: 26px;
			}

			@include mid {
				font-size: 30px;
			}
		}

		h3 {
			font-size: 30px;
			color: $second-color;
			animation: slide 2s infinite alternate ease-in-out;

			@include mobile {
				font-size: 20px;
			}

			@include mid {
				font-size: 25px;
			}

			@keyframes slide {
				50% {
					transform: rotate(10deg) translateX(-5px) scale(1.1);
				}

				100% {
					transform: rotate(-10deg) translateX(5px) scale(1.1);
				}
			}
		}
	}

	.right {
		position: relative;
		height: 100%;
		width: 100%;
		flex: 1;

		@include mobile {
			flex: 3;
		}

		.shape {
			position: absolute;
			left: 30px;
			bottom: 0px;
			width: 100%;
			height: 100%;
			background-color: $main-color;
			clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
			animation: flick 2s infinite alternate ease-in-out;

			@include mobile {
				left: 0px;
				clip-path: circle();
				object-fit: cover;
				animation: unset;
			}

			@keyframes flick {
				100% {
					transform: translatex(-40px);
				}
			}
		}

		.imgContainer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
