@import "../gobal.scss";

.testimonials {
	width: 100%;
	background-color: whitesmoke;

	@include mobile {
		height: unset !important;
	}

	@include mid {
		height: unset !important;
	}

	> .wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mobile {
			flex-direction: column;
		}

		@include mid {
			flex-direction: column;
		}

		.left {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;

			img {
				width: 80%;
				height: 80%;
				object-fit: cover;
				animation: bounce 2s infinite alternate ease;

				@keyframes bounce {
					100% {
						transform: translateY(-25px);
					}
				}
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
			flex: 1;
			border-left: 4px solid $second-color;

			@include mobile {
				width: 85%;
				padding: 20px;
				border-left: unset;
				border-top: 2px solid $second-color;
			}

			@include mid {
				width: 90%;
				padding: 20px;
				border-left: unset;
				border-top: 2px solid $second-color;
			}

			h2 {
				color: $main-color;
				font-size: 60px;
				letter-spacing: 4px;
				transition: all 2s ease;

				@include mobile {
					font-size: 30px;
					letter-spacing: 2px;
				}

				@include mid {
					font-size: 50px;
					letter-spacing: 2px;
				}

				&:hover {
					color: $second-color;
					transform: scale(1.1);
				}
			}

			form {
				width: 80%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 25px;

				@include mobile {
					width: 100%;
				}

				@include mid {
					width: 100%;
				}

				input,
				textarea {
					width: 100%;
					padding: 10px 20px;
					background-color: white;
					font-size: 18px;
					font-weight: 500;
					border: 2px solid $main-color;
					border-radius: 10px;
					caret-color: $second-color;
					cursor: pointer;

					&:hover {
						border-color: $second-color;
					}

					&:focus {
						border-color: $second-color;
						outline: none;
					}

					@include mobile {
						font-size: 16px;
					}
				}

				input {
					height: 40px;
				}

				textarea {
					height: 200px;
					resize: none;

					@include mobile {
						height: 150px;
					}
				}

				button {
					width: 120px;
					height: 40px;
					font-weight: 500;
					color: white;
					background-color: $main-color;
					cursor: pointer;
					outline: none;
					border: none;
					border-radius: 10px;
				}
			}

			h3 {
				color: green;
				font-weight: 500;
				margin: 20px 0;
			}
		}
	}
}
