@import "../gobal.scss";

.menu {
	width: 300px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -300px;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $main-color;
	transition: all 1s ease-in;

	@include mobile {
		width: 100vw;
		right: -100vw;
	}

	&.active {
		right: 0;
	}
}
