@import "../gobal.scss";
.menuList {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 40vh;

	@include mobile {
		height: 30vh;
		transform: translateY(-75px);
	}

	a {
		text-decoration: none;

		li {
			color: white;
			font-size: 28px;
			font-weight: 300;

			@include mobile {
				font-size: 22px;
			}

			&:hover {
				font-weight: 500;
			}
		}
	}
}
