@import "./gobal.scss";
.app {
	height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;

	.sections {
		width: 100%;
		height: calc(100vh - 80px);
		position: relative;
		top: 80px;

		@include mobile {
			height: calc(100vh - 120px);
			top: 120px;
		}

		> * {
			width: 100vw;
			height: inherit;

			@include mobile {
				height: calc(100vh - 120px);
			}
		}
	}
}
